{% extends 'strona_glowna.html' %}
{% block title %}O autorze projektu{% endblock %}
{% block content %}
<div class="container">
    <h2>Kutylovskaya Uliana</h2>  
    <img src="изображение_viber_2023-05-28_13-01-08-962.jpg" class="img-thumbnail" alt="Cinque Terre" width="200" height="200"> 
    <div class="list-group">
        <a href="#" class="list-group-item active">
            <h4 class="list-group-item-heading">O sobie:</h4>
            <p class="list-group-item-text"></p>
          </a>
        <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">Kierunek Studiów:</h4>
            <p class="list-group-item-text">Informatyka Stosowana I Stopnia na Uniwersytecie Ekonomicznym W Krakowie</p>
        </a>
        <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">Oczekiwania</h4>
            <p class="list-group-item-text">Chciałabym się nauczyć pracować w zespole,  poznać nowych ludzi oraz polepszyć swoją wiedze na temat programowania</p>
        </a>
        <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">Hobby:</h4>
            <p class="list-group-item-text">Łyżwiarstwo figurowe, literatura nowoczesna</p>
      </a>
</div>     
{% endblock %}