{% extends 'base.html' %}
{% block title %}Ekstrakcja opinii{% endblock %}        
{% block content %}           
<div class="container">
    <div class="row my-5">
        <div class="col-4"></div>
    <div class="col-4">
        <div class="justify-content-center">
        <div class="shadow p-3 mb-5 bg-white rounded">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"> id produktu: </span>
                </div>
                <input id="product_id" type="text" class="form-control" placeholder="Np. 71654231" aria-label="Recipient's username" aria-describedby="basic-addon2">
                <div class="input-group-append">
                <button class="btn btn-lg btn-dark btn-block" type="submit" onclick=toCeneo()> Wyszukaj </button>
                </div>
            </div>
        </div>
        </div>
    </div>
    </div>
</div>
<script>
    function  toCeneo(){
        var id = document.getElementById("product_id").value;
        if (isNaN(id) || id == "") {
            location.reload();
            alert("Błędny kod");
        }
        else{
        var url = "https://www.ceneo.pl/" + id;
        window.location.href = url;
        }
    }
</script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
<footer class="container text-center mt-5 pt-2 border-top border-white">
    (c) Kutylovskaya Uliana, Uniwersytet Ekonomiczny w Krakowie
</footer>
{% endblock %}