{% extends 'strona_glowna.html' %}
{% block title %}Opis projektu{% endblock %}        
{% block content %}           
<div class="container">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home">Cel aplikacji</a></li>
        <li><a data-toggle="tab" href="#menu1">Opis działania aplikacji</a></li>
        <li><a data-toggle="tab" href="#menu2">Zastosowane biblioteki</a></li>
        <li><a data-toggle="tab" href="#menu3">Zastosowane podejścia</a></li>
    </ul>
  
    <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
            <h3>Cel aplikacji:</h3>
            <p>Celem działania aplikacji jest pobieranie opinii o produktach z serwisu Ceneo.pl. Dla
                produktu, którego kod zostanie podany jako parametr należy pobrać jego nazwę oraz
                wszystkie dostępne opinie o nim.</p>
        </div>
        <div id="menu1" class="tab-pane fade">
            <h3>Opis działania aplikacji:</h3>
            <p>Aplikacja webowa służy do
                pobierania z serwisu Ceneo.pl opinii o produktach na podstawie ich indywidualnych kodów
                oraz do wyświetlenia pobranych opinii i podstawowych statystyk o nich.</p>
        </div>
        <div id="menu2" class="tab-pane fade">
            <h3>Zastosowane biblioteki:</h3>
            <p>
                <ul>
                    <li>Requests</li>
                    <li>BeautifulSoup4</li>
                    <li>Json</li>
                    <li>Os</li>
                    <li>Pandas</li>
                    <li>Numpy</li>
                    <li>Matplolib</li>
                </ul>
            </p>
        </div>
        <div id="menu3" class="tab-pane fade">
            <h3>Zastosowane podejścia:</h3>
            <p>W pierwszych etapach
                pracy wszystkie parametry będą zapisane w kodzie w postaci stałych dosłownych, a w
                dalszej kolejności zastosowany zostanie prosty tekstowy interfejs pozwalający na
                wprowadzanie wartości przez użytkownika, który później będzie podstawą do opracowania
                webowego interfejsu aplikacji.</p>
        </div>
    </div>
</div>
{% endblock %}